#container {
    padding: 10px;
}

/*
.btn-register {
    position: relative;
    width: 120px;
    left: 40px;
    color: white;
}

.btn-login {
    width: 120px;
    color: white;
}

.btn-container {
    position: relative;
    top: 50px;  
    left: 45px;
    color: white;
    z-index: 1;
}

.input {
    position: relative;
    top: 30px;
    left: 45px;
    width: 280px;
} */