<div class="container ">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <form>
          <div>
          <label for="id">id</label>
            <input
            class="form-control"
            id="id"
            required
            ngModel
            name="id"/>
          </div>
          <div class="btn-container">
            <button class="btn btn-primary btn-login">Login</button>
            <button class="btn btn-primary btn-register">Register</button>    
          </div>
        </form>
      </div>
    </div>
    <hr />
  </div>