.container {
    position: relative;
    background-color: #383838;
    width: 50%;
    border-radius: 12px;
    color: white;
    margin-right: auto;
    margin-left: auto;
}

.btn-register {
    left: 100px;
    position: relative;
    width: 150px;
}

.btn-login {
    width: 150px;
}

.btn-container {
    position: relative;
    left: 90px;
}