.formContainer {
    background-color: lightblue;
    border-radius: 10px;
    padding: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    border: rgba(3, 7, 8, 0.534) 1px solid;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.397);
}

.formContainer label {
    padding-right: 5px;
}

.inputCustom {
    position: relative;
    left: 21px;
}

.btn-custom {
    top: 6px;
    position: relative;
    display: inline-flex;
    margin: 25px;
    width: 80px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn-container {

}