<div class="container">
  <form>
    <div class="formContainer">
      <label for="product">Product:</label>
      <input type="text" id="product" (keyup)="addName($event)"/>
      <br>
      <label for="productPrice">Price:</label>
      <input type="text" class="inputCustom" id="productPrice" (keyup)="addPrice($event)"/>
      <br><br>
      <select class="dropdown" ng-model="selectedName" (change)="changeListType($event)">
        <option value="" disabled>Choose product type</option>
        <option *ngFor="let itemType of itemTypes" [ngValue]="itemType">{{ itemType }}</option>
      </select>

      <div class="btn-container">
        <button class="btn btn-success btn-custom" (click)="sendMessage()" >Add</button>
        <button class="btn btn-danger btn-custom" (click)="dismissDialogMessage()" >Cancel</button>
      </div>
    </div>
  </form>
</div>
