.list {
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    padding: 8px;
    display: inline-block;
}

#pizzaContainer {
  background-color: green;
}


#sideContainer {
  background-color: yellow;
  color: black;
}


#drinkContainer {
  background-color: orangered;
}

#checkoutContainer {
  background-color: lightblue;
  color: black;
  font-weight: bold;
}

.info {
    width: 100%;
    height: 10%;
    background-color: lightblue;
    padding: 5px;
}

.info button {
    float: right;
    bottom: 35px;
    right: 5px;
    position: relative;
    display: flex;
    margin: 3px;
}

label {
    font-size: 20px;
}

.sidesLabel {
    padding-right: 10px;
}

.drinksLabel {
    padding-right: 2px;
}

.pizzasLabel {
    padding-right: 3px;
}
